@model PetProject.IdentityServer.Domain.DTOs.EmailAccountLockoutModel

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<p>
	Hi @Model.ToUser,
</p>
<p>
	As a security precaution, the user account has been locked out because there were too many logon attempts or password change attempts.
</p>
<p>
	Wait for @Model.AccountLockoutTimeSpan minutes before trying again, or contact your administrator for support.
</p>
</br>
<p>
	Thanks and Regards,
</p>
<p>
	Cabe
</p>