@model PetProject.IdentityServer.Domain.DTOs.EmailRegisterNewUserModel

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<p>
	Hi @Model.ToUser,
</p>
<p>
	Welcome to PetProject website
</p>
<p>
	You have just registered new account. Here is your password: @Model.Password
</p>
</br>
<p>
	Thanks and Regards,
</p>
<p>
	Cabe
</p>